.container{
    padding-top: 15% !important;
    
}
.mainContent{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 4%;
    padding-right: 4%;
}

.content-quote{
    background: white!important;
    border-radius: 12px;
    
}
.author{
    text-align: right;
}

.footer-quote{
    margin-bottom: 15px;

}
.btn-quote{
    text-align: right;
}
.btn-Twit{
    margin-bottom: 15px;
}
p{
    font-size: 20px;
}
h4{
    color: white !important;
}